@using KocCafe.Models;
@model KocCafe.Models.MyViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koç Cafe</title>
    <link rel="stylesheet" href="~/web/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="~/web/css/tooplate-wave-cafe.css">
    <!--
    https://www.tooplate.com/view/2121-wave-cafe
    -->
</head>
<body>
    <div class="tm-container">
        <div class="tm-row">
            <!-- Site Header -->
            <div class="tm-left">
                <div class="tm-left-inner">
                    <div class="tm-site-header">
                        <i class="fas fa-coffee fa-3x tm-site-logo"></i>
                        <h1 class="tm-site-name">KOÇ CAFE</h1>
                    </div>
                    <nav class="tm-site-nav">
                        <ul class="tm-site-nav-ul">
                            @foreach (var item in Model.MenuItemList)
                            {
                                <li class="tm-page-nav-item">
                                    <a href="#menu-@item.MenuItemId" class="tm-page-link @(item.MenuItemId == 1 ? "active" : "")">
                                        <i class="fas @item.MenuItemIcon tm-page-link-icon"></i>
                                        <span>@item.MenuItemName</span>
                                    </a>
                                </li>
                               
                            }
                            </ul>
                    </nav>
                </div>
            </div>
            <div class="tm-right">
                <main class="tm-main">
                    <div id="menu-1" class="tm-page-content">
                        <!-- Drink Menu Page -->
                        <nav class="tm-black-bg tm-drinks-nav">
                            <ul>
                                @foreach (var item in Model.DrinkTypeList)
                                {
                                    <li>
                                        <a href="#" class="tm-tab-link @(item.DrinkTypeId == 1 ? "active" : "")" data-id="@item.DrinkTypeId">@item.DrinkTypeName</a>
                                    </li>
                                }

                            </ul>
                        </nav>

                        @foreach (var itemType in Model.DrinkTypeList)
                        {

                            <div id="@itemType.DrinkTypeId" class="tm-tab-content">
                                <div class="tm-list">
                                    @foreach (var item in Model.DrinkList)
                                    {
                                        if (item.DrinkType == itemType.DrinkTypeId)
                                        {
                                            <div class="tm-list-item">
                                                <img src="@Url.Content(String.Format(item.DrinkPhotoUrl))" alt="Image" class="tm-list-item-img">
                                                <div class="tm-black-bg tm-list-item-text">
                                                    <h3 class="tm-list-item-name">@item.DrinkName<span class="tm-list-item-price">$@item.DrinkPrice</span></h3>
                                                    <p class="tm-list-item-description">@item.DrinkDescription</p>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                        }
                           
                            <!-- end Drink Menu Page -->
                        </div>

                    <!-- About Us Page -->
                    <div id="menu-2" class="tm-page-content">
                        @foreach (var item in Model.AboutItemList)
                        {
  
                            <div class="tm-black-bg tm-mb-20 tm-about-box-2">
                                <div class="tm-list-item tm-list-item-2">
                                    @if (item.AboutId % 2 == 0)
                                    {

                                        <div class="tm-list-item-text-2">
                                            <h2 class="tm-text-primary">@item.AboutTitle</h2>
                                            <p>@item.AboutDescription</p>
                                        </div>
                                        <img src="@Url.Content(String.Format(item.AboutPhotoUrl))" alt="Image" class="tm-list-item-img tm-list-item-img-big tm-img-right">
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(String.Format(item.AboutPhotoUrl))" alt="Image" class="tm-list-item-img tm-list-item-img-big">
                                        <div class="tm-list-item-text-2">
                                            <h2 class="tm-text-primary">@item.AboutTitle</h2>
                                            <p>@item.AboutDescription</p>
                                        </div>

                                    }

                                </div>
                            </div>

                        }
                    </div>
                    <!-- end About Us Page -->
                    <!-- Special Items Page -->
                    <div id="menu-3" class="tm-page-content">
                        <div class="tm-special-items">
                            @foreach (var item in Model.SpecialItemList)
                            {
                                <div class="tm-black-bg tm-special-item">
                                    <img src="@Url.Content(String.Format(item.SpecialItemPhotoUrl))" alt="Image">
                                    <div class="tm-special-item-description">
                                        <h2 class="tm-text-primary tm-special-item-title">@item.SpecialItemTitle</h2>
                                        <p class="tm-special-item-text">@item.SpecialItemDescription</p>
                                    </div>
                                </div>
                            }
                            </div>
                    </div>
                    <!-- end Special Items Page -->
                    <!-- Contact Page -->
                    <div id="menu-4" class="tm-page-content">
                        <div class="tm-black-bg tm-contact-text-container">
                            <h2 class="tm-text-primary">Contact with founder: Yasemin KOÇ</h2>
                            <p>Koç Cafe has founded by Yasemin KOÇ from Manisa Celal Bayar University. Tell your friends about our website.</p>
                        </div>

                        <div class="tm-black-bg tm-contact-form-container tm-align-center">
                            <form action="" method="POST" id="contact-form">
                                <div class="tm-form-group">
                                    <input type="text" name="name" class="tm-form-control" placeholder="Name" required="" />
                                </div>
                                <div class="tm-form-group">
                                    <input type="email" name="email" class="tm-form-control" placeholder="Email" required="" />
                                </div>
                                <div class="tm-form-group tm-mb-30">
                                    <textarea rows="6" name="message" class="tm-form-control" placeholder="Message" required=""></textarea>
                                </div>
                                <div>
                                    <button type="submit" class="tm-btn-primary tm-align-right">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end Contact Page -->
                </main>
            </div>
        </div>
        <footer class="tm-site-footer">
            <p class="tm-black-bg tm-footer-text">
                Copyright 2023 Koc Cafe | Yasemin KOÇ

                | Design: <a href="https://www.tooplate.com" class="tm-footer-link" rel="sponsored" target="_parent">Software Developer</a>
            </p>
        </footer>
    </div>

    <!-- Background video -->
    <div class="tm-video-wrapper">
        <i id="tm-video-control-button" class="fas fa-pause"></i>
        <video autoplay muted loop id="tm-video">
            <source src="~/web/video/wave-cafe-video-bg.mp4" type="video/mp4">
        </video>
    </div>

    <script src="~/web/js/jquery-3.4.1.min.js"></script>
    <script>

        function setVideoSize() {
            const vidWidth = 1920;
            const vidHeight = 1080;
            const windowWidth = window.innerWidth;
            const windowHeight = window.innerHeight;
            const tempVidWidth = windowHeight * vidWidth / vidHeight;
            const tempVidHeight = windowWidth * vidHeight / vidWidth;
            const newVidWidth = tempVidWidth > windowWidth ? tempVidWidth : windowWidth;
            const newVidHeight = tempVidHeight > windowHeight ? tempVidHeight : windowHeight;
            const tmVideo = $('#tm-video');

            tmVideo.css('width', newVidWidth);
            tmVideo.css('height', newVidHeight);
        }

        function openTab(evt, id) {
            $('.tm-tab-content').hide();
            $('#' + id).show();
            $('.tm-tab-link').removeClass('active');
            $(evt.currentTarget).addClass('active');
        }

        function initPage() {
            let pageId = location.hash;

            if (pageId) {
                highlightMenu($(`.tm-page-link[href^="${pageId}"]`));
                showPage($(pageId));
            }
            else {
                pageId = $('.tm-page-link.active').attr('href');
                showPage($(pageId));
            }
        }

        function highlightMenu(menuItem) {
            $('.tm-page-link').removeClass('active');
            menuItem.addClass('active');
        }

        function showPage(page) {
            $('.tm-page-content').hide();
            page.show();
        }

        $(document).ready(function () {

            /***************** Pages *****************/

            initPage();

            $('.tm-page-link').click(function (event) {

                if (window.innerWidth > 991) {
                    event.preventDefault();
                }

                highlightMenu($(event.currentTarget));
                showPage($(event.currentTarget.hash));
            });


            /***************** Tabs *******************/

            $('.tm-tab-link').on('click', e => {
                e.preventDefault();
                openTab(e, $(e.target).data('id'));
            });

            $('.tm-tab-link.active').click(); // Open default tab


            /************** Video background *********/

            setVideoSize();

            // Set video background size based on window size
            let timeout;
            window.onresize = function () {
                clearTimeout(timeout);
                timeout = setTimeout(setVideoSize, 100);
            };

            // Play/Pause button for video background
            const btn = $("#tm-video-control-button");

            btn.on("click", function (e) {
                const video = document.getElementById("tm-video");
                $(this).removeClass();

                if (video.paused) {
                    video.play();
                    $(this).addClass("fas fa-pause");
                } else {
                    video.pause();
                    $(this).addClass("fas fa-play");
                }
            });
        });

    </script>
</body>
</html>
